@model IEnumerable<Rent.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                @if (item.Photo != null)
                {
                    <img src="data:image;base64,@Convert.ToBase64String(item.Photo)" class="card-img-top" alt="Apartment Image">
                }
                else
                {
                    <div class="card-img-top no-image">No Image Available</div>
                }
                <div class="card-body">
                    <h5 class="card-title">Bedrooms: @item.Bedrooms</h5>
                    <p class="card-text">Bathrooms: @item.Bathrooms</p>
                    <p class="card-text">Rent Price: $@item.RentPrice</p>
                    <p class="card-text">Property: @item.Property.PropertyId</p>
                    <a href="@Url.Action("Details", new { id = item.ApartmentId })" class="btn btn-primary">Details</a>
                    <a href="@Url.Action("Edit", new { id = item.ApartmentId })" class="btn btn-secondary">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.ApartmentId })" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
